@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
    background: #2a2b32;
}

a{
    color: #ccc;
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    color: #e91e63;
}

h1.header{
    color: #e91e63;
    font-size: 2.5rem;
    font-weight: bold;
}

h2{
    color: #616161;
    font-size: 2.5rem;
    font-weight: bold;
}

canvas{
    height: 100vh;
    z-index: -100000;
    position: fixed;
    top: 0px;
}
ul {
    list-style: none;
  }
  
li {
    display: inline-block;
    margin-right: 10px; /* add spacing between items */
}
h2 {
    font-family: 'Alegreya', serif;
    font-size: 4rem;
    color: #f1770f;

}
p {
    font-family: 'Grandstander', cursive;
    color: #ffffff;
}
strong{
    font-family: 'Grandstander', cursive;
    color: #ffffff;
}
h6 {
    font-family: 'Grandstander', cursive;
    color: #ffffff;
}
h4 {
    font-family: 'Rajdhani', sans-serif;
}

.logo{
    font-size: 5rem;
    font-family:'Tilt Prism', cursive;
    padding-top: 2rem;
    left: 3rem;
}
.nav-menu {
    position: absolute;
    right: 13px;
    top: 3rem;
    

    
}
.company-images {
    size-adjust: 100%;
    text-align: center;
}
.music {
    font-family: 'Alegreya', serif;
    
}
.football {
    font-family: 'Dosis', sans-serif;
    font-size: 1.4pc;
}
.pro-skills{
    font-family: 'Times New Roman', Times, serif;
  }
