body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f9ee;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  
  
  
  .header h1 {
    margin: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #f5f9ee;
  }
  
  .contact-section {
    margin-top: 2rem;
    text-align: center;
  }
  
  .contact-section h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-group textarea {
    resize: vertical;
  }
  
  button {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #3e3e3e;
  }
  
  @media (max-width: 480px) {
    .container {
      padding: 1rem;
    }
  }

 